apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: monitoring
type: Opaque
stringData:
  # Replace with your desired Grafana admin password (in plain text)
  GRAFANA_PASSWORD: admin123
