apiVersion: v1
kind: Secret
metadata:
  name: gitlab-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://gitlab.com/mquangpham575/DevOps.git
  password: <YOUR_GITLAB_PAT_TOKEN>  # Get full PAT from infor.md
  username: mquangpham575
